body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  min-height: 80vh;
}
.rating span{
  margin: 0.15rem; 
}
h3{
  padding: 1rem 0; 
}

/*---------------------- CARD CSS-------------------------- */

.cardRadius:hover{
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.CardImage{
  /* width: inherit;
  height: inherit; */
  border-radius: 10px;
  object-fit: cover;
}
.cardSize{
  margin: 30px auto;
  /* width: 300px;
  height: 300px; */
  border-radius: 20px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  
}
.cardTitle{
  padding: 0 2rem 0 0 ;
  
}
.btn-block{
  margin-left: 1rem;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.4rem;
  padding: 0.25rem 0;
}